{% extends 'base.html'%} {% block content %}
<h1>{% block title %}Audio Source Separation with openUnmix{% endblock %}</h1>
<div><span>Please select an audio file</span></div>
<form
  action="{{ url_for('upload')}}"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="choose-input">
    <input type="file" id="fileupload" accept="audio/*" name="file" />
    <input type="submit" />
  </div>
</form>
<div>
  <span>Or choose from test samples.</span><br />
  <select>
    {% for song in songs %}
    <option>{{song.label}}</option>
    {% endfor %}
  </select>
</div>
<div class="predict-bar">
  <div class="audio-control">
    <audio id="audio" controls>
      <source src="{{ source }}" />
    </audio>
  </div>
  <div>
    <button class="sep-button">Separate</button>
  </div>
</div>
<div class="output">
  <div class="container">
    <h3>Results</h3>
    <ul>
      {% for audio in audios %}
      <li>
        <p>{{audio.label}}</p>
        <audio id="{{audio.label}}" controls>
          <source src="{{audio.label}}.wav" type="audio/wav" />
        </audio>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
