{% extends 'base.html'%} {% block content %}
<h1>{% block title %}Audio Source Separation with openUnmix{% endblock %}</h1>
<div><span>Please select an audio file</span></div>
<form
  action="{{ url_for('upload')}}"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="choose-input">
    <input type="file" id="fileupload" accept="audio/*" name="file" />
    <input type="submit" value="Upload" />
  </div>
</form>
<form method="GET" , action="{{url_for('selected')}}">
  <div>
    <span>Or choose from test samples.</span><br />
    <select name="select-song" id="select-sng">
      <option>Select Sample</option>
      {% for song in songs %}
      <option value="{{song}}">{{song}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Select" />
  </div>
</form>
<form method="POST" action="{{url_for('separateAudio')}}">
  <div class="predict-bar">
    <div class="audio-control">
      <audio id="audio" controls>
        <source src="{{ source }}" />
      </audio>
    </div>
    <div>
      <button class="sep-button" type="submit">Separate</button>
    </div>
  </div>
</form>
<div class="output">
  <div class="container">
    <h3>Results</h3>
    <ul>
      {% for audio in audios %}
      <li>
        <p>{{audio[14:]}}</p>
        <audio id="{{audio[14:]}}" controls>
          <source src="{{audio}}" type="audio/wav" />
        </audio>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
